<ais-instantsearch *ngIf="isBrowser" [config]="config">
  <ais-configure
    [searchParameters]="{
      attributesToSnippet: ['description:10'],
      snippetEllipsisText: '…',
      removeWordsIfNoResults: 'allOptional'
    }"
  >
  </ais-configure>
  <app-search-widget (searchHit)="onSearchHit($event)"></app-search-widget>
  <!-- <ais-hierarchical-menu
    [attributes]="[
      'hierarchicalCategories.lvl0',
      'hierarchicalCategories.lvl1',
      'hierarchicalCategories.lvl2'
    ]"
    separator="-"
  ></ais-hierarchical-menu> -->
</ais-instantsearch>
