<div class="h-full flex flex-col">
  <ng-container *ngIf="ytVideos$ | async as ytVideo">
    <!--     Spinner when loading data  -->
    <!--     Spinner when loading data  -->
    <!--     Spinner when loading data  -->
    <!--     Spinner when loading data  -->
    <div class=" h-full flex justify-center items-center" *ngIf="isFetchingYtVideos">
      <app-ui-spinner-basic></app-ui-spinner-basic>
    </div>
    <!--    Main content when data fetched -->
    <!--    Main content when data fetched -->
    <!--    Main content when data fetched -->
    <!--    Main content when data fetched -->
    <ng-container *ngIf="!isFetchingYtVideos && (ytVideo?.videoList || []).length > 0">
      <div class="relative bg-gray-200 overflow-hidden">
        <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
          <app-video-banner
            [ytVideo]="ytVideo.lastVideo || null"
          ></app-video-banner>
        </div>
      </div>
      <div class="relative bg-white overflow-hidden">
        <main class="mx-auto max-w-7xl pb-8 pt-6 px-4 sm:px-6 lg:px-8">
          <app-video-listing
            [ytVideos]="ytVideo.videoList || null"
          ></app-video-listing>
        </main>
      </div>
    </ng-container>
    <!--    Message when request failed-->
    <!--    Message when request failed-->
    <!--    Message when request failed-->
    <!--    Message when request failed-->
    <div class="relative bg-gray-200 overflow-hidden h-full flex justify-center items-center"
         *ngIf="!isFetchingYtVideos && ytVideo.videoList?.length === 0">
      <div>
        <app-ui-error [errorType]="'something-went-wrong'"></app-ui-error>
      </div>
    </div>
  </ng-container>
</div>
