footer {
  font-size: 0.75rem;
  background-color: var(--bg-transparent);
  border-top: 1px solid var(--border-color);
  margin-top: -1px;
  padding: 0 20px;
  text-align: right;
  .flex {
    @media screen and (max-width: 450px) {
      justify-content: center;
      margin: auto;
      padding: 0px;
    }
  }
}
