<!-- <ul>
  <li *ngFor="let hit of hits" (click)="onSearchHit(hit)">
    <ais-highlight attribute="name" [hit]="hit"></ais-highlight>
    {{ hit.name }}
  </li>
</ul> -->

<div class="drop-down drop-down--active">
  <div class="drop-down__menu-box">
    <ul class="drop-down__menu">
      <li
        class="drop-down__item"
        *ngFor="let hit of hits"
        (click)="onSearchHit(hit)"
      >
        <ais-highlight attribute="name" [hit]="hit"></ais-highlight>
        {{ hit.name }}
      </li>
    </ul>
  </div>
</div>
