<div class="flex flex-col lg:flex-row" *ngIf="ytVideo !== null">
  <youtube-player videoId="{{ytVideo.videoId}}"></youtube-player>
  <div class="lg:pl-5">
    <h3 class="text-xl mt-4 font-medium leading-normal text-gray-800">
      {{ytVideo.title}}
    </h3>
    <p class="text-xl font-light leading-relaxed my-6 mb-4 max-h-96 overflow-hidden overflow-ellipsis" [innerText]="ytVideo.description"></p>
  </div>
</div>
<div class="flex" *ngIf="ytVideo === null">
  <img class="object-contain max-w-3xl" src="assets/video-layout.png">
  <div class="lg:pl-5">
    <h3 class="text-xl font-medium leading-normal text-gray-800">
      Loading...
    </h3>
  </div>
</div>
