<div class="flex">
  <img class="object-contain max-w-3xl" src="assets/video-layout.png">
  <div class="pl-5">
    <h3 class="text-xl font-medium leading-normal text-gray-800">
      Phasellus sed tellus nec nulla dictum accumsan tempor himenaeos.
    </h3>
    <p class="text-xl font-light leading-relaxed mt-6 mb-4">
      Sed non nisl aliquam, fermentum quam eu, pellentesque lectus. Sed ullamcorper tincidunt ante, vel luctus nulla molestie sed. Ut id nisl vel purus cursus tincidunt non non magna. Mauris ac.
    </p>
    <p class="text-xl font-light leading-relaxed mt-6 mb-4">
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam sed commodo ipsum, eu semper odio.
    </p>
  </div>
</div>
