<app-input
  [debounce]="400"
  [value]="query"
  (query)="onQuery($event)"
></app-input>
<ng-container *ngIf="results$ | async as hits">
  <app-popover *ngIf="state.query" [display]="!!query">
    <ng-template>
      <div class="hit" *ngFor="let hit of hits">
        <a
          class="
            text-lg
            mt-4
            lg:mt-0
            font-medium
            leading-normal
            text-gray-700
            hover:text-red-600
          "
        >
          <ais-highlight
            attribute="session.category"
            [hit]="hit"
          ></ais-highlight>
          -
          <ais-highlight attribute="session.title" [hit]="hit"></ais-highlight>
          -
          <ais-highlight
            (click)="onSearchHit(hit)"
            attribute="title"
            [hit]="hit"
          ></ais-highlight>
        </a>
      </div>
    </ng-template>
  </app-popover>
</ng-container>
