.drop-down {
  position: absolute;
  margin-top: 5px;
  padding: 12px;
  border-radius: 5px;
  color: var(--body-color);
  border: 0;
  transition: background 0.3s, box-shadow 0.3s;
  background-color: var(--bg-transparent);
  opacity: 1;
}

.drop-down:before {
  content: '';
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid var(--bg-transparent);
  border-top: 8px solid transparent;
  top: -15px;
  right: 18px;
}

.title {
  h3 {
    padding: 5px 5px;
    margin: 0;
    margin-right: 15px;
  }
  vertical-align: top;
}

.hit {
  padding: 5px 5px;
  cursor: pointer;
}

.ais-Highlight-highlighted {
  color: var(--primary-color) !important;
}

.algolia {
  margin-top: 10px;
  text-align: right;
  img {
    height: 20px;
  }
}
