.event {
  justify-content: space-around;
}

.date {
  flex: 0.4;
  margin-top: 10px;
  padding: 10px;
  min-width: 250px;
  svg {
    width: 100%;
  }
  @media screen and (max-width: 1180px) {
    flex: 1;
    order: 1;
  }
}

.description {
  max-width: 600px;
  flex: 0.6;
  @media screen and (max-width: 1180px) {
    flex: 1;
  }
  padding: 10px;
}
