<div class="container">
  <div class="card container">
    <div class="event flex">
      <div class="date">
        <p>Saturday, September 4th @ 9:30 PM</p>
        <img src="/assets/date-picker.svg" />
      </div>
      <div class="description">
        <h1>Community App #3</h1>
        <h2>AngularInDarija.dev</h2>
        <p>
          In this session we're going to explain the application architecture an
          design.
        </p>
        <ul>
          <li>New Design</li>
          <li>Server Side Rendering</li>
          <li>Algolia Search</li>
          <li>Progressive Webapp</li>
          <li>Coming features</li>
          <li>Call for contributions</li>
        </ul>
        <p>We will pick and answer attendees' questions on the fly.</p>
        <p>
          Hosted by
          <a href="//twitter.com/chihabotmani">Chihab Otmani</a> and
          <a href="//twitter.com/elfouih">Ilyass Elfouih</a>
        </p>
      </div>
    </div>
    <div class="border-top"></div>
  </div>
</div>
