<!-- <header>
  <div>
    <nav aria-label="Global">
      <div>
        <div>
          <a routerLink="/">
            <img src="assets/logo-small.png" />
          </a>
        </div>
        <div>Angular in darija</div>
      </div>

      <div>
        
      </div>
    </nav>
  </div>
</header> -->

<header>
  <div class="header-bar"></div>
  <div class="header-inner container flex gap-30">
    <div class="logo">
      <a
        routerLink="/"
        aria-current="page"
        title="Back to home"
        class="logo__link active--exact active"
      >
        Angular In Darija
      </a>
    </div>
    <!-- <a
      href="/"
      aria-current="page"
      title="Back to home"
      class="logo__link active--exact active"
      routerLink="/"
    >
      <img src="assets/logo-small.png" />
    </a> -->
    <nav class="main-nav flex gap-15 flex-fit">
      <a
        routerLink="/blog"
        routerLinkActive="active--exact active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><span class="main-nav__label">Blog</span></a
      >
      <a
        routerLink="/news"
        routerLinkActive="active--exact active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><span class="main-nav__label">News</span></a
      >
      <a
        routerLink="/videos"
        routerLinkActive="active--exact active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><span class="main-nav__label">Videos</span></a
      >
      <a
        routerLink="/tips"
        routerLinkActive="active--exact active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><span class="main-nav__label">Tips</span></a
      >
      <a
        routerLink="/about"
        routerLinkActive="active--exact active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><span class="main-nav__label">About</span></a
      >
    </nav>
    <form id="search" class="header-search">
      <app-search></app-search>
    </form>
    <nav class="header-actions flex">
      <a
        aria-label="YouTube"
        href="//bit.ly/ngDarija"
        rel="noopener noreferrer"
        target="_blank"
        title="Angular In Darija @ GitHub"
      >
        En
      </a>
      <a
        role="button"
        aria-label="Toggle sepia"
        title="Toggle sepia"
        class="toggle-theme"
        ><span data-theme="light"></span> <span data-theme="dark"></span>
        <span data-theme="sepia"></span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-moon"
        >
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
      </a>
    </nav>
  </div>
</header>
