.viewport {
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  height: calc(100vh - 59px);
  @media screen and (max-width: 840px) {
    height: calc(100vh - 107px);
  }
  > div {
    width: 100%;
  }
}
