<div class="flex">
  <div class="max-w-md">
    <img class="object-contain" src="assets/video-layout.png">
  </div>
  <div class="pl-5">
    <h3 class="text-lg font-medium leading-normal text-gray-700">
      Integer id velit nisl. Morbi vitae eros vitae dolor tempor.
    </h3>
    <p class="text-lg font-light leading-relaxed my-4">
      Integer libero nunc, tempus et magna sit amet, aliquam pellentesque lorem. Sed turpis urna, gravida quis iaculis ac, ultrices ac nibh. Pellentesque sed feugiat leo, non condimentum ligula. Aenean hendrerit.
    </p>
    <p class="text-lg font-light leading-relaxed my-4">
      Fusce vitae semper turpis. Integer tellus risus, facilisis fermentum nulla ut, sollicitudin placerat quam. Etiam lacinia sem purus, in commodo.
    </p>
  </div>
</div>
