
.navbar-brand {
    width: 40px;
    font-family: 'futura medium', sans-serif;
}
.active--color {
    color: #DB5B69 !important;
    border-bottom: 1px solid #DB5B69;
}
.nav-link {
    font-family: 'open sans', sans-serif;
}

.logo--color {
    color: #707070;
    font-size: 25px;
}