.newsletter {
  margin: auto;
  //   font-size: 32px;
  &__top {
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      90deg,
      var(--primary-color) 0%,
      #a2a7aa 50%,
      #d32e44 100%
    );
  }
  &__form {
    margin-bottom: 0;
  }
  &__field {
    min-width: 200px;
    margin-bottom: 1rem;
  }
  &__button {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 0.5rem;
  }
}
