// // tricks for making embed iframe video responsive
.app-video-player {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
  &::before {
    box-sizing: border-box;
    // padding-top: 56.25%; // aspect ratio of a video is 16:9. (9 is 56.25% of 16)
    display: block;
    content: '';
  }
  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
