// tricks for making embed iframe video responsive
.app-video-player {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  &::before {
    box-sizing: border-box;
    display: block;
    content: '';
  }
  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
