.intro {
  padding: 10px 0;
  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 850px) {
      & {
        font-size: 2rem;
      }
    }
  }
  &__lead {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    @media screen and (max-width: 850px) {
      & {
        font-size: 1rem;
      }
    }
  }
  &__info {
    font-size: 0.9rem;
  }
  &__keywords {
    position: relative;
    display: block;
  }
}

.newsletter {
  &__top {
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      90deg,
      var(--primary-color) 0%,
      #b9bbbd 50%,
      #fa0000 100%
    );
  }
  &__form {
    margin-bottom: 0;
  }
  &__field {
    min-width: 200px;
    margin-bottom: 1rem;
  }
  &__button {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 0.5rem;
  }
}
