<div>
  <ng-container *ngIf="ytVideos$ | async as ytVideo">
    <ng-container *ngIf="(ytVideo?.videoList || []).length > 0">
      <div>
        <div>
          <app-video-banner
            [video]="ytVideo.lastVideo || null"
          ></app-video-banner>
        </div>
      </div>
      <div>
        <main>
          <app-video-listing
            [ytVideos]="ytVideo.videoList || null"
          ></app-video-listing>
        </main>
      </div>
    </ng-container>
    <div *ngIf="ytVideo.videoList?.length === 0">
      <div>
        <app-ui-error [errorType]="'something-went-wrong'"></app-ui-error>
      </div>
    </div>
  </ng-container>
</div>
