<section class="section intro">
  <div class="section--inner container">
    <app-intro></app-intro>
  </div>
  <div class="section__dots-bg dots-bg"></div>
</section>

<!-- <ng-container *ngIf="ytVideos$ | async as ytVideo">
  <ng-container *ngIf="(ytVideo?.videoList || []).length > 0">
    <section class="section section--secondary">
      <div class="section--inner container">
        <app-video-listing
          [ytVideos]="ytVideo.videoList || null"
        ></app-video-listing>
      </div>
    </section>
  </ng-container>
</ng-container> -->
<!-- <div *ngIf="ytVideo.videoList?.length === 0">
  <app-ui-error [errorType]="'something-went-wrong'"></app-ui-error>
</div> -->
