.description {
  flex: 0.65;
  padding: 10px;
}

.date {
  flex: 0.35;
  margin-top: 10px;
  padding: 10px;
  svg {
    width: 100%;
  }
}

.event {
  justify-content: flex-start;
  align-items: flex-start;
  @media screen and (max-width: 490px) {
    justify-content: center;
    text-align: center;
  }
}
